
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>PRO CV</span>
    <span class="example-spacer"></span>
    <button mat-flat-button color="warn" (click)="openDialog()">Registrar Asesor</button>
  </mat-toolbar>

  <div class="container">

    <div style="margin-top: 10px;">

      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="  " #input>
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <ng-container matColumnDef="asesorName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Completo</th>
            <td mat-cell *matCellDef="let row"> {{row.asesorName}} </td>
          </ng-container>

          <ng-container matColumnDef="asesorApellido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
            <td mat-cell *matCellDef="let row"> {{row.asesorApellido}} </td>
          </ng-container>
    
          <ng-container matColumnDef="asesorDNI">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI </th>
            <td mat-cell *matCellDef="let row"> {{row.asesorDNI}} </td>
          </ng-container>

          <ng-container matColumnDef="operaciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Operaciones </th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button (click)="editAsesor(row)" color="primary">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteAsesor(row.id)" color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>

    
  </div>